// Анимация формы и анимация кнопки
.main__slideUp {
    animation-name: slideUp;
    -webkit-animation-name: slideUp;    
 
    animation-duration: 1s; 
    -webkit-animation-duration: 1s;
 
    animation-timing-function: ease;    
    -webkit-animation-timing-function: ease;
 
    visibility: visible;         
}
 
@keyframes slideUp {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }       
    100% {
        transform: translateY(0%);
        opacity: 1;
    }   
    
}
 
@-webkit-keyframes slideUp {
    0% {
        -webkit-transform: translateY(100%);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0%);
        opacity: 1;
        visibility: visible;
    }   
}

.footer__button_animated {
        animation-name: slideLeft;
        -webkit-animation-name: slideLeft;  
        
        animation-duration: 0.1s; 
        -webkit-animation-duration: 0.1s;
        
        animation-timing-function: ease; 
        -webkit-animation-timing-function: ease;     
        
        visibility: visible !important; 
}
    
@keyframes slideLeft {
    0% {
        transform: translateX(0%);
    }
    20%{
        transform: translateX(-4%);
    }
    40%{
        transform: translateX(4%);
    }
    60%{
        transform: translateX(-4%);
    }
    80%{
        transform: translateX(4%);
    }           
    100% {
        transform: translateX(0%);
    }
}
    
@-webkit-keyframes slideLeft {
    0% {
        -webkit-transform: translateX(0%);
    }
    20%{
        -webkit-transform: translateX(-8%);
    }
    40%{
        -webkit-transform: translateX(4%);
    }
    60%{
        -webkit-transform: translateX(-4%);
    }
    80%{
        -webkit-transform: translateX(2%);
    }           
    100% {
        -webkit-transform: translateX(0%);
    }
}